body {
    font-family: "Selawik", Arial, sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: "Selawik";
    font-style: normal;
    font-weight: 300;
    src: local("Selawik Light"),
        url("../public/font/selawkl.woff") format("woff");
}

@font-face {
    font-family: "Selawik";
    font-style: normal;
    font-weight: 350;
    src: local("Selawik Regular"),
        url("../public/font/selawk.woff") format("woff");
}

@font-face {
    font-family: "Selawik";
    font-style: normal;
    font-weight: 300;
    src: local("Selawik Semilight"),
        url("../public/font/selawksl.woff") format("woff");
}

@font-face {
    font-family: "Selawik";
    font-style: normal;
    font-weight: 600;
    src: local("Selawik Semibold"),
        url("../public/font/selawksb.woff") format("woff");
}

@font-face {
    font-family: "Selawik";
    font-style: normal;
    font-weight: 700;
    src: local("Selawik Bold"),
        url("../public/font/selawkb.woff") format("woff");
}
